{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>Your PROFILE ✅</h1>
    <a href="{{ path('app_admin_profile_edit') }}">Edit</a>
{% endblock %}
