<a href="{{ path('app_admin_product') }}" class="btn btn-success btn-sm">Products main</a>
<a href="{{ path('app_admin_product_new') }}" class="btn btn-primary btn-sm">Add new</a>
<a href="{{ path('app_admin_product_sales') }}" class="btn btn-info btn-sm">Sales</a></li>
<a href="{{ path('app_admin_product_greater_qb') }}" class="btn btn-info btn-sm">Exclusive</a></li>