{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {{ parent() }}

    <a href="{{ path('app_admin_category_new') }}">Dodaj nową</a>
    <ol>
    {% for category in categories %}
        <li>{{ category.name }} - <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">edit</a></li>
    {% endfor %}
    </ol>
{% endblock %}
