{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Hello Admin ✅</h1>
    <a href="{{ path('app_admin_comment') }}">Comments</a>
{% endblock %}
