{% extends 'base.html.twig' %}

{% block title %}Dashboard admin{% endblock %}

{% block body %}
    <h1>Dashboard admin ✅</h1>
    <a href="{{ path('app_admin_comment') }}">Comments</a>
{% endblock %}
