{% extends 'base.html.twig' %}

{% block title %}
    Strona 1 stworzona z annotation i widokiem twig.
{% endblock %}

{% block body %}
    <h2>Route 1 with twig</h2>
    <p>Sum two nymbers, first is random between 20 and 40 and second number is 12.</p>
    <p>Sum is: {{ sum }}</p>
{% endblock %}